
.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  
    .carousel-item {
      background-color: rgba(95, 94, 94, 0.5); 
      display: none;
      text-align: center;
  
      img {
        width: 100%;  /* 保证图片宽度为容器的宽度 */
        height: 500px; /* 自动调整高度 */
        object-fit: cover; /* 保证图片裁剪后依然保持比例 */
      }
  
      &.active {
        display: block;
      }
    }
    .carousel-caption {
      background-color: rgba(95, 94, 94, 0.5); /* 这是一个半透明的黑色背景，你可以调整 */
      color: white;
      padding: 10px;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
    
    
  
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: gray;
      font-weight: bold;
      font-size: 24px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
  
    .prev {
      left: 0;
      border-radius: 3px 0 0 3px;
    }
  
    .next {
      right: 0;
      border-radius: 0 3px 3px 0;
    }
  
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.2);
    }
    
    .carousel-indicators {
      position: absolute;
      right: 10px; /* 调整为距离右边10px */
      bottom: 10px; /* 调整为距离底部10px */
      display: flex;
      flex-direction: row;
      justify-content: flex-end; /* 小圆点向右对齐 */
    }
    
    .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #922b8a;
    }
  }