@charset "UTF-8";
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  box-shadow: var(--shadow);
}

header a {
  color: var(--text);
  text-decoration: none;
}

.home {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.logo {
  height: 40px;
}

.logo > * {
  height: 100%;
}

.title-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  min-width: 0;
  font-family: var(--title);
  text-align: left;
}

.title {
  font-size: var(--large);
}

.subtitle {
  opacity: 0.65;
  font-weight: var(--thin);
}

.nav-toggle {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0;
  color: var(--text);
  appearance: none;
  transition: background var(--transition);
}

.nav-toggle:after {
  content: "\f0c9";
  position: absolute;
  left: 50%;
  top: 50%;
  color: var(--text);
  font-size: 15px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  transform: translate(-50%, -50%);
}

.nav-toggle:checked:after {
  content: "\f00d";
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-family: var(--heading);
  text-transform: uppercase;
}

nav > a {
  padding: 5px;
  display: inline-flex;
}

nav > a:hover {
  color: var(--primary);
}

@media (max-width: 700px) {
  header:not([data-big]) {
    justify-content: flex-end;
  }
  header:not([data-big]) .nav-toggle {
    display: flex;
  }
  header:not([data-big]) .nav-toggle:not(:checked) + nav {
    display: none;
  }
  header:not([data-big]) nav {
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
  }
}

header[data-big] {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 20px;
}
header[data-big] .home {
  flex-direction: column;
  flex-grow: 0;
}
header[data-big] .logo {
  height: 80px;
}
header[data-big] .title-text {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header[data-big] .title {
  font-size: var(--xxl);
}
header[data-big] .subtitle {
  font-size: var(--large);
}

.scroll-header {
  display: flex;
  position: relative;
  background-color: #949292; /* 背景颜色 */
  padding: 0px 0px; /* 内边距 */
  margin: 0; /* 消除外边距 */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.scroll-header .home {
  flex-direction: column;
  flex-grow: 0;
  z-index: 10;
}
.scroll-header .logo {
  height: 80px;
}
.scroll-header .title-text {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.scroll-header .title {
  font-size: var(--xxl);
}
.scroll-header .subtitle {
  font-size: var(--large);
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
.carousel .carousel-item {
  background-color: rgba(95, 94, 94, 0.5);
  display: inline-flex;
  text-align: center;
}
.carousel .carousel-item img {
  width: auto; /* 保证图片宽度为容器的宽度 */
  height: 400px; /* 自动调整高度 */
  object-fit: cover; /* 保证图片裁剪后依然保持比例 */
}
.carousel .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(134, 134, 134, 0.3); /* 浅灰色 */
  pointer-events: none; /* 允许鼠标穿透这个层 */
}
.carousel .carousel-item.active {
  display: inline-flex;
}
.carousel .carousel-caption {
  background-color: rgba(109, 108, 109, 0.5); /* 这是一个半透明的黑色背景，你可以调整 */
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.carousel .prev, .carousel .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: gray;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.carousel .prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.carousel .next {
  right: 0;
  border-radius: 0 3px 3px 0;
}
.carousel .prev:hover, .carousel .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-indicators {
  position: absolute;
  right: 10px; /* 调整为距离右边10px */
  bottom: 10px; /* 调整为距离底部10px */
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* 小圆点向右对齐 */
}
.carousel .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.carousel .dot.active {
  background-color: rgba(155, 26, 134, 0.5);
}
.carousel .ca-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* 确保它在其他元素之上 */
  display: block;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  gap: 10px;
}
.carousel .ca-title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  flex-wrap: wrap;
  gap: 5px;
  font-family: var(--title);
  text-align: center; /* 中心对齐文本 */
}
.carousel .ca-title {
  position: absolute;
  width: auto; /* 根据容器需要调整宽度 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--large);
  text-align: center; /* 中心对齐文本 */
}
.carousel .ca-nav-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* 如果需要显示时，可以通过 JavaScript 控制 */
  width: 30px;
  height: 30px;
  margin: 0;
  color: var(--text);
  appearance: none;
  transition: background var(--transition);
}
.carousel .ca-nav-toggle:after {
  content: "\f0c9";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--text);
  font-size: 15px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
.carousel .ca-nav-toggle:checked:after {
  content: "\f00d";
}
.carousel .ca-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  flex-wrap: wrap;
  gap: 10px;
  font-family: var(--heading);
  text-transform: uppercase;
}
.carousel nav > a {
  padding: 5px;
  display: inline-flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
.carousel nav > a:hover {
  color: var(--primary);
}

/*# sourceMappingURL=header.css.map */