<div class="carousel">
    <div class="carousel-item active">
      <img src="images/mambaLLIE.png" alt="Slide 1">
      <div class="carousel-caption">mambaLLIE</div>
    </div>
    <div class="carousel-item">
      <img src="images/aith.png" alt="Slide 2">
      <div class="carousel-caption">AITH</div>
    </div>
    <div class="carousel-item">
      <img src="images/tp2o.png" alt="Slide 3">
      <div class="carousel-caption">tp2o</div>
    </div>
      <!-- Navigation buttons -->
    <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
    <a class="next" onclick="changeSlide(1)">&#10095;</a>
      <!-- Indicators -->
    <div class="carousel-indicators">
        <span class="dot" onclick="currentSlide(0)"></span>
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
    </div>
  </div>
  