<section class="content-section">
    <div class="news">
      <h2>News</h2>
      <ul>
        <li>07/2024, One paper were accepted by <a href="https://www.siggraphasia.org/2024">SIGGRAPH Asia 2024</a> and one paper was accepted by <a href="https://www.sca2024.org">SCA 2024</a> (Congrats to Renke).</li>
        
        <li>07/2024, Two papers were accepted by <a href="https://eccv.ecva.net/Conferences/2024">ECCV 2024</a> (Congrats to Zedong and Qianliang).</li>

        <li>03/2024, One paper was accepted by <b>IEEE Trans. on Intelligent Transportation Systems</b> and one paper was accepted by <b>Visual Intelligence</b>.</li>

        <li>03/2024, One paper was accepted by <strong>IEEE TPAMI</strong></li>

        <li>02/2024, Two papers were accepted by <a href="https://cvpr.thecvf.com/"> CVPR 2024</a> (Congrats to Zhiqiang (<b>oral</b>) and Junkai (poster)).</li>
          
      </ul>
    </div>
    <div class="contact-us">
      <h2>Contact Us</h2>
      <p>
        Prof. Jun Li(李俊)<br>
        Address: School of Computer Science, NJUST<br>
        Nanjing 210094, China<br>
        Email: 	<a href="mailto:junli@njust.edu.cn">junli@njust.edu.cn</a> <br>
        Personal-Homepage: <a href="https://sites.google.com/view/junlineu/">https://sites.google.com/view/junlineu/</a> <br>
        <b>I am always looking for prospective Ph.D./Master's students and PostDocs.</b> <br> 
      </p>
    </div>
  </section>
  