<section class="content-section">
    <div class="news">
      <h2>News</h2>
      <ul>
        <li>07/2024, One paper were accepted by <a href="https://www.siggraphasia.org/2024">SIGGRAPH Asia 2024</a> and one paper was accepted by <a href="https://www.sca2024.org">SCA 2024</a> (Congrats to <u>Renke</u>).</li>
        <p>News content 1</p>
        <li>News item 1</li>
        <p>News content 1</p>
        <li>News item 1</li>
        <p>News content 1</p>
      </ul>
    </div>
    <div class="contact-us">
      <h2>Contact Us</h2>
      <p>Get in touch with us through the following channels.</p>
    </div>
  </section>
  