<div>
<p><strong><span style="font-size: 18px;">1. Low-Rank Image Restoration Problems</span></strong><br>
    This mainly includes <strong>image de-raining</strong>, <strong>dehazing</strong>, and <strong>night-time image enhancement</strong>, which have significant theoretical research value and high industrial application potential.
 </p>
 
 <p><strong><span style="font-size: 18px;">2. Creative Image Generation Based on Text-to-Image Models</span></strong><br>
    This primarily involves <strong>creative image generation from text</strong>, <strong>creative image editing</strong>, and <strong>creative 3D object generation</strong>, all of which have strong applied research value and high industrial potential.
 </p>
 
 <p><strong><span style="font-size: 18px;">3. Deep Learning + Schrödinger Equation</span></strong><br>
    This research focuses on the interdisciplinary integration of deep learning with fundamental disciplines, aiming to establish a learning system based on <strong>atomic mechanisms</strong>. It is highly challenging and requires background knowledge in <strong>AI</strong>, <strong>mathematics</strong>, <strong>physics</strong>, or <strong>chemistry</strong>.
 </p>
</div>