<div class="image-slider">
    <div class="slider-item">
      <img src="images/photo.jpg" alt="Paper 1">
      <div class="info">
        <h2 class="title">Crowdsampling the Plenoptic Function</h2>
        <p class="conference">Conference Name 1</p>
      </div>
    </div>
  
    <div class="slider-item">
      <img src="images/photo.jpg" alt="Paper 2">
      <div class="info">
        <h2 class="title">Learning the Depths of Moving People by Watching Frozen People</h2>
        <p class="conference">Conference Name 2</p>
      </div>
    </div>
  
    <div class="slider-item">
      <img src="images/photo.jpg" alt="Paper 3">
      <div class="info">
        <h2 class="title">Learning Material-Aware Local Descriptors for 3D Shapes</h2>
        <p class="conference">Conference Name 3</p>
      </div>
    </div>
  </div>
  